{% extends "account/experts/index.html" %}

{% block title %}{{ expert }}{% endblock %}

{% block main %}
    <div class="container-fluid container-limited">
        <div class="row">
            <div class="col-lg-3 profile-settings-sidebar">
                <p>Информация о пользователе</p>
            </div>
            <div class="col-lg-9">
                <form action="{% url "account:expert" expert.id %}" method="post">
                    {{ form }}
                    <button type="submit" class="s-btn btn btn-md my-btn btn-success">Подтвердить изменения</button>
                </form>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-3 profile-settings-sidebar">Изменить пароль</div>
            <div class="col-lg-9">
                <form action="{% url "account:reset_password" expert.id %}">
                    <button type="submit" class="s-btn btn btn-md btn-danger">Сбросить пароль</button>
                </form>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-3 profile-settings-sidebar">Управление аккаунтом</div>
            <div class="col-lg-9">
                <form class="inline-form" action="{% url "account:toggle_activity" expert.id %}">
                    <button type="submit" class="btn btn-md btn-warning s-btn">
                        {% if expert.is_active %}Заблокировать аккаунт{% else %}Разблокировать аккаунт{% endif %}
                    </button>
                </form>
                <form class="inline-form" action="{% url "account:expert" expert.id %}">
                    <button type="submit" class="btn btn-md btn-danger s-btn">Удалить аккаунт</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}