{% extends "account/experts/index.html" %}

{% block title %}Эксперты{% endblock %}

{% block main %}
    <div class="container-fluid container-limited">
        <div class="row">
        <div class="col-lg-3 profile-settings-sidebar">
            <p>Информация о пользователе</p>
        </div>
        <div class="col-lg-9">
            <form action="{% url "account:invite_expert" %}" method="post">
                {{ form }}
                <button type="submit" class="s-btn btn btn-md my-btn btn-success">Приласить</button>
            </form>
        </div>
    </div>
{% endblock %}