{% extends "base.html" %}
{% block title %} Профиль {% endblock %}

{% block loadstatic %}
    {% load staticfiles %}
    <link href="{% static 'account/css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-2 col-sm-2 col-md-2 sidebar">
            {% block sidebar %}
                <ul class="nav nav-sidebar">
                    <li>
                        <a class="info" href={% url "account:cabinet" %}>Профиль</a>
                    </li>
                </ul>
                <ul class="nav nav-sidebar">
                    {% if user.is_admin %}
                        {% include "account/base/_moderator_menu.html" %}
                    {% else %}
                        {% include "account/base/_expert_menu.html" %}
                    {% endif %}
                </ul>
            {% endblock %}
        </div>
        <div class="col-xs-10 col-xs-offset-2 col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2  main">
            {% block main %}
            {% endblock %}
        </div>
    </div>
{% endblock %}