{% extends "account/cabinet.html" %}

{% block title %}Оценки{% endblock %}

{% block sidebar %}
    <ul class="nav nav-sidebar">
        <li>
            <a href={% url "account:cabinet" %}>Профиль</a>
        </li>
    </ul>
    <ul class="nav nav-sidebar">
        <li>
            <a href={% url "account:experts" %}>Експерты</a>
        </li>
        <li>
            <a href={% url "account:qualities" %}>Качества</a>
        </li>
        <li class="active">
            <a href=#>Оценки</a>
        </li>
    </ul>
{% endblock %}