{% extends "account/base/cabinet.html" %}

{% block title %}Оценки{% endblock %}
{% block loadstatic %}
    {{ block.super }}
    {% load staticfiles %}
{% endblock %}
{% block main %}
    <div id="container" style="width: 800px; height: 600px; margin: 0 auto"></div>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="http://code.highcharts.com/highcharts.js"></script>
<script language="JavaScript">
$(document).ready(function() {
   var chart = {
      type: 'scatter'
   };

   

   var yAxis = {
       categories: []
   };

   var series;
   $.ajax({
      url:"http://127.0.0.1:8000/assessments/",
       method: 'JSON',
       async: false,
      success:function(result){
          series = result.series;
          yAxis.categories = result.categories;
          console.log(result)
      }
      });
    console.log(series)
   var json = {};
   json.yAxis = yAxis;
   json.chart = chart;
   json.series = series;
   $('#container').highcharts(json);

});
</script>
{% endblock %}